
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block head %}{% endblock %}
    </head>
    <body>
        
         {% block nav %}
<nav>
  <ul>   
    <li><a href="{% url 'cal:index' %}">Calendar</a></li>
    <li><a href="{% url 'cal:users' 1%}">Week View</a></li>
    <li><a href="{% url 'week:week_sum' %}">Hours</a></li>
    {% if kierownik %}
    <li><a href="{% url 'cal:form' %}">Add Task</a></li>
    {% endif %}
    {% block add_task %}{% endblock %}
    <li style="float: right"><a href="{% url 'cal:log_out' %}">Logout</a></li>
    {% block pagination %}
    {% endblock %}
  </ul>
</nav>
        {% endblock %}
        {% block content %}
       
        {% endblock %}
    
    </body>
</html>