{% extends 'base/base.html' %}
{% block title %}Form{% endblock %}
{% block head %}
{% load static %}
<link href="/static/cal/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{% endblock %}

{% block content %}

<form action="{% url 'cal:form' %}" method="POST">
    {% csrf_token %}
    {{ taskform }}
    <input type="submit" value="Submit"/>
</form>
{% if error_msg %}
    <p style="color: red;">{{ error_msg }}</p>
{% endif %}
{% endblock %}