{% extends 'base/base.html' %}

  {% block title %}Calendar{% endblock %}
  {% block head %}
  {% load static %}
  <link href="/static/cal/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  {% endblock %}

{% block content %}
<nav>
  <ul>   
    <li><a href="{% url 'cal:index' %}">Calendar</a></li>
    <li><a href="{% url 'week:week_sum' %}">Week View</a></li>
    <li style="float: right"><a href="{% url 'cal:log_out' %}">Logout</a></li>
    {% block pagination %}
    <li style="float: right"><a href="{% url 'cal:next' 1 %}">Next</a></li>
    <li style="float: right"><a href="{% url 'cal:previous' 1 %}">Prev</a></li>
    {% endblock %}
  </ul>
</nav>
<div class="todo">
  <p>TO-DO</p>
  <ul>
    <li>Lorem</li>

    <li>ipsum</li>

    <li>Task1</li>
 
    <li>Task2</li>

    <li>Task2</li>
    <li>Task2</li>
    <li>Task2</li>
    <li>Task2</li>
    <li>Task2</li>
    <li>Task2</li>
    <li>Task2</li>

        
  </ul>
</div>
<div class ="container">
  
  
  <div class="timings">
    <div> <span> 8:00 </span>AM </div>
    <div> 8:30 </div>
    <div> <span> 9:00 </span> AM </div>
    <div> 9:30 </div>
    <div> <span> 10:00 </span>AM </div>
    <div> 10:30 </div>
    <div> <span> 11:00 </span>AM </div>
    <div> 11:30 </div>
    <div> <span> 12:00 </span>PM </div>
    <div> 12:30 </div>
    <div> <span> 1:00 </span>PM </div>
    <div> 1:30 </div>
    <div> <span> 2:00 </span>PM </div>
    <div> 2:30 </div>
    <div> <span> 3:00 </span>PM </div>
    <div> 3:30 </div>
    <div> <span> 4:00 </span>PM </div>
    <div> 4:30 </div>
    <div> <span> 5:00 </span>PM </div>
    <div> 5:30 </div>
    <div> <span> 6:00 </span>PM </div>
    <div> 6:30 </div>
    <div> <span> 7:00 </span>PM </div>
    <div> 7:30 </div>
    <div> <span> 8:00 </span>PM </div>
    
  </div>

  <div class="days" id="events">
  </div>

</div>
<script src="/static/cal/wtf.js"></script>
<script>
  const events = [ {% for task in tasks %} {start: {{ task.0 }}, end: {{task.1}}, message: "{{ task.2 }}", description: "{{ task.3 }}" }, {% endfor %} ];
  layOutDay(events);
</script>
{% endblock %}