{% extends 'base/base.html' %}

  {% block title %}Calendar{% endblock %}
  {% block head %}
  {% load static %}
  <link href="/static/cal/userstyle.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  {% endblock %}

    
    {% block pagination %}
    <li style="float: right"><a href="{% url 'cal:next_users' 1 user_pages.1 %}">Next</a></li>
    <li style="float: right"><a href="{% url 'cal:prev_users' 1 user_pages.1 %}">Prev</a></li>
    {% endblock %}
{% block content %}
<div>
<div class="user_container">
  {% for user in users %}
  <div class="user_description">
    {{ user.username }}
  </div>
    {% endfor %}
</div>

<div class ="container">
  
  
  <div class="timings">
    <div> <span> 8:00 </span>AM </div>
    <div> 8:30 </div>
    <div> <span> 9:00 </span> AM </div>
    <div> 9:30 </div>
    <div> <span> 10:00 </span>AM </div>
    <div> 10:30 </div>
    <div> <span> 11:00 </span>AM </div>
    <div> 11:30 </div>
    <div> <span> 12:00 </span>PM </div>
    <div> 12:30 </div>
    <div> <span> 1:00 </span>PM </div>
    <div> 1:30 </div>
    <div> <span> 2:00 </span>PM </div>
    <div> 2:30 </div>
    <div> <span> 3:00 </span>PM </div>
    <div> 3:30 </div>
    <div> <span> 4:00 </span>PM </div>
    <div> 4:30 </div>
    <div> <span> 5:00 </span>PM </div>
    <div> 5:30 </div>
    <div> <span> 6:00 </span>PM </div>
    <div> 6:30 </div>
    <div> <span> 7:00 </span>PM </div>
    <div> 7:30 </div>
    <div> <span> 8:00 </span>PM </div>
    
  </div>
{% for u in users %}
  <div class="days" id="{{ u.username }}">
  </div>
{% endfor %}

</div>
{% block users %}
<div class="user_container">
  <a class="button" href="{% url 'cal:users' user_pages.0 %}" >Prev Users</a>
  <a class="button" href="{% url 'cal:users' user_pages.2 %}" >Next Users</a>
</div>
{% endblock %}
</div>
<script></script>
<script src="/static/cal/userscalendar.js"></script>
<script>
  {% for tasks in users_tasks %}
  var events = [ {% for task in tasks %} {start: {{ task.0 }}, end: {{task.1}}, message: "{{ task.2 }}", description: "{{ task.3 }}", container: "{{ task.4 }}"  }, {% endfor %} ];
  layOutDay(events);
  {% endfor %}
</script>
{% endblock %}